<!-- <nav id="navbar" class="nav">
    <ul class="nav-list">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="about">About</a></li>
      <li><a routerLink="work">Work</a></li>
      <li><a routerLink="contact">Contact</a></li>
     
    </ul>
     
  </nav> -->
  
  <aside id="sidebar" class="sidebar">
    <section class="profile">
      <img src="assets/my-profile-img.jpg" alt="Profile Picture">
      <h1>Pawan Singh</h1>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bi bi-google"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>
    </section>
    <ul class="sidebar-list">
      <li><a routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
        <i class="bi bi-house"></i>Home
      </a>
      </li>
      <li><a routerLink="about" routerLinkActive="active"><i class="bi bi-person"></i>About</a></li>
      <li><a routerLink="work" routerLinkActive="active"><i class="bi bi-briefcase"></i>Work</a></li>
      <li><a routerLink="contact" routerLinkActive="active"><i class="bi bi-envelope"></i>Contact</a></li>
    </ul>
  </aside>
  <router-outlet></router-outlet>