 
<div class="main">


<section id="projects" class="projects-section">
  <h2 class="projects-section-header">These are some of my projects</h2>
  <div class="projects-grid">
    <!-- Project Cards -->
    <a href="https://shomepage.vercel.app/" target="_blank" class="project project-tile">
      <img class="project-image" src="assets/homepagep.png" alt="Project 1" />
      <p class="project-title">Social media Home page</p>
    </a>
    <!-- Add more projects here -->
    <a href="https://amazon-blond.vercel.app/ " target="_blank" class="project project-tile">
      <img class="project-image" src="assets/amazonp.png" alt="Project 2" />
      <p class="project-title">Amazon.in Homepage Clone  </p>
  </a>
  <a href="https://codepen.io/Pawan-Singh-the-builder/full/ExGxGXL" target="_blank" class="project project-tile">
      <img class="project-image" src="assets/tic tactoe.png" alt="Project 3" />
      <p class="project-title">Tic Tac Toe</p>
      
  </a>
  <a href="https://codepen.io/Pawan-Singh-the-builder/full/vYQvxXv" target="_blank" class="project project-tile">
      <img class="project-image" src="assets/amazon sidebar1.png" alt="Project 3" />
      <p class="project-title">Amazon Sidebar</p>
      
  </a>
  <a href="https://codepen.io/Pawan-Singh-the-builder/full/yLQGMmp" target="_blank" class="project project-tile">
      <img class="project-image" src="assets/simple calculator.png" alt="Project 3" />
      <p class="project-title">Simple Calculator</p>
      
  </a>
  <a href="https://todo-bc3g.onrender.com/" target="_blank" class="project project-tile">
      <img class="project-image" src="assets/todolist.png" alt="Project 3" />
      <p class="project-title">Todo List with db</p>
      
  </a>
  </div>
</section>
</div>